@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* css selector for ids */
#app {
    font-family: "Cormorant Upright", Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}